.git
.idea
.vscode
.cursor
.zed
node_modules
vendor
public/hot
public/build
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.cache
.phpunit.result.cache
*.md
.env
.env.backup
